
.htaccess.sample
api.php
favicon.ico
get.php
mage
pckginfo/
.htaccess
app/etc/local.xml
cron.php
cron.sh
downloader
errors/
includes
index.php
index.php.sample
install.php
js
lib
LICENSE*
media
pear
php.ini.sample
RELEASE_NOTES.txt
robots.txt
shell

var
EOF